<app-nav-bar></app-nav-bar>

<div class="container">
  <h1 [style.font-size.em]="testComponent.listaNombres.length > 0 ? 2: 1.5" [style.color]="testComponent.listaNombres.length > 0 ? 'red': 'black' ">Comercio Electronico App</h1>
  <!-- <app-brand></app-brand>
  <app-product></app-product>
  <app-product-type></app-product-type> -->
<div [class.hidden]="testComponent.inputName.length == 0">
  <p>Escribiendo nombre: {{testComponent.inputName}}</p>
</div>

  <app-test #testComponent [nombre]="name" [apellido]="lastname" (saludar)="onSaludar($event)">

  </app-test>
  
  <app-product [respuestaTest]="respuesta"></app-product>
</div>

<app-footer></app-footer>



